/* You can add global styles to this file, and also import other style files */
body {
    display: block;
    margin: 0px;
  font-family: 'Tahoma', Arial, sans-serif;

}

@font-face {
  font-family: 'Termina';
  src: url('/assets/fonts/termina/TerminaTest-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('/assets/fonts/termina/TerminaTest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('/assets/fonts/termina/TerminaTest-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('/assets/fonts/termina/TerminaTest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('/assets/fonts/termina/TerminaTest-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('/assets/fonts/termina/TerminaTest-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tahoma';
  src: url('/assets/fonts/tahoma/tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tahoma';
  src: url('/assets/fonts/tahoma/tahomabd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4,
.heading,
.esports-title {
  font-family: 'Termina', sans-serif;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-top:5px;
  margin-bottom:5px;
}

